@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}

nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: #cafdff
}
header{
    background-color: #eadcff;
    height: calc(100vh - 70px); /*This is so that when we scroll, the header goes right into the next section*/
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 72px;
}

.subheader{
    font-size: 36px;
    margin: 16px 0px 24px 0px
}

button{
  background-color: #05c7cf;
 color: white;
 border: none;
 padding: 8px 16px;
 font-size: 24px;
 cursor: pointer; /*This adds a pointer when you hover over the button*/

}

a{
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.logo{
    width:300px;
}

ul{
    display: flex;
}

li{
    list-style-type: none;
    padding-left: 16px;
}


.row{
    width: 100%;
    max-width: 1300px; /* This makes it so that the maximum width can only be 1300px*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/*

ABOUT

*/

#about{
    padding: 48px 0;
    background-color: #f8ffdc;
    }


h2{
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.section__description {  /*this is BEM syntax, the block is section, the element is description*/
    display: flex; 
align-items: center;
justify-content: center;
}


.about__image--wrapper{
    width: 40%;
    padding: 0 24px;
}

img{
    width: 100%;
}

.section__description--wrapper{
    width: 60%;
    padding: 0 24px;
}

.section__description--para{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px
}

/*

DISCORD

*/

#discord{
background-color: #cefeff;
padding: 48px 0;
}

/*

CONTACT

*/

#contact{
    background-color: #dce9ff;
}
form{
    padding: 48px 0;
    max-width: 600px;
    
    display: flex;
    flex-direction: column; /*The natural display of message and email field is row, so we have to switch
    it tp column for it be on top of one another*/
    margin: 0 auto; /*centers it instead of align-items center & justify-content center.*/
    padding: 0 24px;
    
}

input, text-area{  /* gives space between our text fields*/
    margin-bottom: 24px;
    font-size: 20px;
    padding: 6px 12px;
}

/*

FOOTER

*/

footer{
    background-color: #aff5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0;
}

.footer__logo{
    max-width: 480px;
    margin-bottom: 16px;
}

.footer__links{
  margin-bottom: 32px;  
}

.footer-link{
  padding: 0 16px;  
}

/*Small phones, tablets, large smart phones*/
/* This is saying, I want you 
    to activate everything inside this bracket when the screen is 728px or under*/

@media (max-width: 728px) { 
.row{
    flex-direction: column;
}
.home__description{
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}
.home__description--button{
max-width: 240px;
align-items: center;
}

h1{
  text-align: center;  
  font-size: 60px;
}
.subheader{
text-align: center;
font-size: 28px;
}

ul{
    display: none;
}

.section__description{
flex-direction: column;
}

.section__description--wrapper{
    width: 100%;
}

.about__image--wrapper{
    width: 100%;
}

#discord .section__description{
    flex-direction: column-reverse;
}

footer{
    padding: 48px 24px;
}
.footer__logo{
    max-width: 360px;  
}

.footer__link{
    padding: 0px;
    font-size: 18px;
}

.footer__links{
    margin-bottom: 24px;
}
}